In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import pandas as pd

df = pd.read_csv('/content/drive/My Drive/Dataset/project home credit/application_clean.csv')
print(df.shape)  # Harusnya (307511, ...) kalau full

(307511, 16)

In [ ]:
df = df.drop(columns='SK_ID_CURR')

# ENCODING

In [ ]:
df = pd.get_dummies(df, columns=['NAME_CONTRACT_TYPE'], prefix='CONTRACT', drop_first=False)

In [ ]:
cols_to_encode = ['CODE_GENDER', 'FLAG_OWN_CAR', 'FLAG_OWN_REALTY']
df = pd.get_dummies(df, columns=cols_to_encode, prefix=cols_to_encode, drop_first=False)

In [ ]:
cols_to_encode = ['NAME_TYPE_SUITE', 'NAME_INCOME_TYPE']
df = pd.get_dummies(df, columns=cols_to_encode, prefix=cols_to_encode, drop_first=False)

In [ ]:
education_map = {
    'Lower secondary': 0,
    'Secondary / secondary special': 1,
    'Incomplete higher': 2,
    'Higher education': 3,
    'Academic degree': 4
}

df['EDUCATION_LEVEL'] = df['NAME_EDUCATION_TYPE'].map(education_map)

In [ ]:
cols_to_encode = ['NAME_FAMILY_STATUS', 'NAME_HOUSING_TYPE']
df = pd.get_dummies(df, columns=cols_to_encode, prefix=cols_to_encode, drop_first=False)

# simpan

In [ ]:
df.to_csv('application_encoded.csv', index=False)

In [ ]:
df.to_csv('/content/drive/My Drive/Dataset/project home credit/application_encoded.csv', index=False)